@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,500;1,500&family=Roboto+Mono:ital,wght@0,500;1,500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Mono", sans-serif;
    min-height: 100vh;
    background-color: #020617;
    color: #fff;
}

.gradient {
    background-image: linear-gradient(to top left, var(--tw-gradient-stops));
    --tw-gradient-from: #9e56e5 var(--tw-gradient-from-position);
    --tw-gradient-from-position: 35%;
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #7f1ddb var(--tw-gradient-to-position);
    --tw-gradient-to-position: 65%;
    background-clip: text;
    color: transparent;
    display: inline-block;
}


/* text scroll */

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking {
    animation: blink 2.5s infinite;
    /* Blinking every 1.5 seconds */
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Full viewport height */
    text-align: center;
}


/* Slide Effects */

@keyframes slideInFromTop {
    0% {
        transform: translateY(-25%);
        /* Start from above the screen */
    }
    100% {
        transform: translateY(0);
        /* End at the normal position */
    }
}

.slide-top {
    animation: slideInFromTop 0.5s ease-out;
    /* Apply slide-in animation */
}


/* Global Scrollbar Styling */

::-webkit-scrollbar {
    width: 15px;
    /* Width of the scrollbar */
    height: 15px;
    /* Height of the scrollbar (for horizontal scrollbars) */
}

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #9333ea, #9c2add);
    /* Thumb color */
    border-radius: 8px;
    /* Rounded corners */
    border: 2px solid #1f1f1f;
    /* Space between thumb and track */
}

 ::-webkit-scrollbar-track {
    background: #334155;
    /* Track color */
    border-radius: 8px;
    /* Rounded corners */
}

 ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(45deg, #a533f2, #9373ea);
    /* Thumb hover color */
}

 ::-webkit-scrollbar-thumb:active {
    background: linear-gradient(45deg, #631ae8, #9336da);
    /* Thumb active color */
}